/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: hsl(0deg 0% 25%);
}

body {
  background-color: var(--background-color);
}

*, *:before, *:after {
  box-sizing: border-box;
}
